@mixin bigTxt($fsize: 55px) {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: $fsize;
    line-height: 79px;
    color: #FFFFFF;
};

@mixin smlText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);

};